apiVersion: v1
kind: Service
metadata:
  name: jellyfin-service
spec:
  type: NodePort
  selector:
    app: jellyfin
  ports:
    - protocol: TCP
      port: 8096      # The internal port (Jellyfin's default)
      targetPort: 8096
      nodePort: 30000 # The external door we are opening